<%- include('../layout/userLayouts/header.ejs') %>
<%- include('../layout/userLayouts/nav.ejs') %> 


<form class="form-inline" method="post" action="">
    
    <div class="form-group mx-sm-3 mb-2" >
      <label for="inputPassword2" class="sr-only">Otp</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your otp here" name="otp">
    </div>
    <a ><button type="submit" class="btn btn-primary mb-2">Submit</button></a>
  </form>



<%- include('../layout/userLayouts/footer.ejs') %>