<%- include('../layout/userLayouts/header.ejs') %>
<%- include('../layout/userLayouts/nav.ejs') %>



 <!-- Main Start -->
 <div class="main">
    <section class="page-body p-0">
      <div class="row g-0 ratio_asos">
        <div class="order-2 order-lg-1 col-lg-5">
          <div class="content-box">
            <div>
              <h5>RESET PASSWORD <span class="bg-theme-blue"></span></h5>
              <p class="font-md content-color">Online Supermarket for all your daily needs.</p>

              <form action="/resubmitPassword" class="custom-form form-pill" method="post">
                
                <div class="input-box">
                  <label for="password2">New Password</label>
                  <div class="icon-input">
                    <input class="form-control" type="password" required="" name="password" id="password2">
                    <img class="showHidePassword" src="../assets/icons/svg/eye-1.svg" alt="eye">
                  </div>
                </div>
                <div class="input-box">
                  <label for="password3">Confirm Password</label>
                  <div class="icon-input">
                    <input class="form-control" type="password" required="" name="password2" id="password3">
                    <img class="showHidePassword" src="../assets/icons/svg/eye-1.svg" alt="eye">
                  </div>
                </div>

                <button type="submit" class="btn-solid rounded-pill line-none">Submit<i class="arrow"></i></button>
                <a href="/home" class="btn-solid rounded-pill line-none btn-outline mt-3 d-flex justify-content-center">Home <i class="arrow"></i></a>
              
                <% 

                if(typeof message !== 'undefined' ){
                  
                  %>
                    <div class="alert alert-danger" role="alert">
                      <%= message %>
                    </div>
        
                  <% 
        
                }
              %>
            </form>
              <a href="/login" class="backto-link font-default content-color">Back to login</a>
            </div>
          </div>
        </div>
        <div class="order-1 order-lg-2 col-lg-7">
          <div class="img-box">
            <img class="bg-img" src="../assets/images/inner-page/banner.jpg" alt="banner">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Main End -->

<%- include('../layout/userLayouts/footer.ejs') %>
