 <!-- Document Footer Start -->
 <footer class="footer-document ratio_asos mb-xxl">
  <div class="bg-footer-l">
    <img src="/userAssets/images/fashion/banner/bg-footer-l.png" alt="banner">
  </div>
  <div class="bg-footer-r">
    <img src="/userAssets/images/fashion/banner/bg-footer-r.png" alt="banner">
  </div>
  <div>
    <div class="container-lg">
      <div class="main-footer">
        <div class="row gy-3 gy-md-4 gy-xl-0">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="content-box">
              <img class="logo" src="/userAssets/images/logos/logo-w(2).png" alt="logo-white">
              <ul>
                <li><i data-feather="map-pin"></i> <span> 1418 Riverwood Drive, Suite 3245 Cottonwood, CA 96052, United States </span></li>
                <li>
                  <i data-feather="phone"></i><a class="nav" href="tel:185659635"><span> + 185659635 </span></a>
                </li>
                <li>
                  <i data-feather="mail"></i><a class="nav" href="mailto:fashion098@gmail.com"><span> fashion098@gmail.com </span></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav-footer col-lg-2 col-md-4 order-md-3 order-lg-2">
            <div class="nav content-box d-md-block">
              <h5 class="heading-footer">Shop By</h5>
              <ul>
                <li><a class="nav" href="shop-left-sidebar.html">New In </a></li>
                <li><a class="nav" href="shop-left-sidebar.html">Women </a></li>
                <li><a class="nav" href="shop-left-sidebar.html">Men </a></li>
                <li><a class="nav" href="shop-left-sidebar.html">Shoes</a></li>
                <li><a class="nav" href="shop-left-sidebar.html">Bags & Accessories </a></li>
                <li><a class="nav" href="shop-left-sidebar.html">Top Brands </a></li>
              </ul>
            </div>
          </div>

          <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-4 order-lg-3">
            <div class="nav d-md-block content-box">
              <h5 class="heading-footer">Information</h5>
              <ul>
                <li><a class="nav" href="index.html">Home </a></li>
                <li><a class="nav" href="shop-left-sidebar.html">Shop </a></li>
                <li><a class="nav" href="about-us.html">About Us</a></li>
                <li><a class="nav" href="blog-detail.html">Blog </a></li>
                <li><a class="nav" href="contact-us.html">Contact </a></li>
              </ul>
            </div>
          </div>

          <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-5 order-lg-4">
            <div class="nav d-md-block content-box">
              <h5 class="heading-footer">Get Help</h5>
              <ul>
                <li><a class="nav" href="user-dashboard.html">Your Orders </a></li>
                <li><a class="nav" href="user-dashboard.html">Your Account </a></li>
                <li><a class="nav" href="user-dashboard.html">Track Order</a></li>
                <li><a class="nav" href="wishlist.html">Your Wishlist</a></li>
                <li><a class="nav" href="search.html">Search</a></li>
                <li><a class="nav" href="faqs.html">Faqs</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 col-lg-4 order-md-2 order-lg-5">
            <div class="content-box">
              <h5 class="heading-footer">Follow Us</h5>
              <div class="follow-wrap">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/"> <img src="/userAssets/icons/svg/social/fb.svg" alt="fb"> </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/accounts/login/?source=auth_switcher"> <img src="/userAssets/icons/svg/social/inta.svg" alt="fb"> </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/i/flow/login"> <img src="/userAssets/icons/svg/social/tw.svg" alt="fb"> </a>
                  </li>
                  <li>
                    <a href="https://in.pinterest.com/"> <img src="/userAssets/icons/svg/social/pint.svg" alt="fb"> </a>
                  </li>
                </ul>
              </div>

              <div class="subscribe-box">
                <h5>Newsletter Sign Up</h5>
                <p>Receive our latest updates about our products & promotions.</p>
              </div>

              <form action="javascript:void(0)" class="footer-form">
                <input required="" type="email" class="form-control" placeholder="Your email address">
                <button type="submit" class="btn-solid">SUBMIT <i class="arrow"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="sub-footer">
        <div class="row gy-3">
          <div class="col-md-6">
            <ul>
              <li>
                <a href="javascript:void(0)"> <img src="/userAssets/icons/png/1.png" class="img-fluid blur-up lazyload" alt="payment icon"></a>
              </li>
              <li>
                <a href="javascript:void(0)"> <img src="/userAssets/icons/png/2.png" class="img-fluid blur-up lazyload" alt="payment icon"></a>
              </li>
              <li>
                <a href="javascript:void(0)"> <img src="/userAssets/icons/png/3.png" class="img-fluid blur-up lazyload" alt="payment icon"></a>
              </li>
              <li>
                <a href="javascript:void(0)"> <img src="/userAssets/icons/png/4.png" class="img-fluid blur-up lazyload" alt="payment icon"></a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <p class="mb-0">© 2022, OSLO Template. Made with heart by Pixelstrap</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Document Footer End -->

<!-- Mobile Menu Footer Start -->
<footer class="mobile-menu-footer d-sm-none">
  <ul>
    <li>
      <a href="/home">
        <i data-feather="home"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="search.html" class="search-link">
        <i data-feather="search"></i>
        <span>Search</span>
      </a>
    </li>
    <li>
      <a href="/cart">
        <i data-feather="shopping-bag"></i>
        <span>Cart</span>
      </a>
    </li>
    <li>
      <a href="wishlist.html">
        <i data-feather="heart"></i>
        <span>Wishlist</span>
      </a>
    </li>
    <li>
      <a href="user-dashboard.html" class="active">
        <i data-feather="user"></i>
        <span>Account</span>
      </a>
    </li>
  </ul>
</footer>
<!-- Mobile Menu Footer End -->

<!-- Notification Start -->
<div class="notification-wrap addToCart">
  <div class="notification">
    <img src="/userAssets/images/fashion/product/front/1.jpg" alt="product">
    <div>
      <h5>Added To Cart</h5>
    </div>
  </div>
</div>
<!-- Notification End -->

<!-- Add New Address Modal Start -->
<div class="modal fade addnew-address" id="addNewAddress" tabindex="-1" aria-labelledby="addNewAddressLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewAddressLabel">Add New Address</h5>
        <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
      </div>

      <div class="modal-body full-grid-mobile">
        <form action="/addAddress" class="custom-form form-pill" method="post">
          <div class="row g-3 g-md-4">
            <div class="col-12">
              <div class="input-box">
                <label for="name">Full Name</label>
                <input class="form-control" type="text" required="" name="name" id="name">
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="email2">Email</label>
                <input class="form-control" type="email" required="" name="email" id="email2">
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="mobile2">Mobile No:</label>
                <input maxlength="9" class="form-control" type="number" required="" name="mobile2" id="mobile2">
              </div>
            </div>

            <div class="col-12">
              <div class="input-box">
                <label for="address3">House Name</label>
                <input class="form-control" type="text"  name="housename">
              </div>
            </div>

            <!-- <div class="col-12">
              <div class="input-box">
                <label for="address4">Address2</label>
                <input class="form-control" type="text" required="" name="address4" id="address4">
              </div>
            </div> -->

            <!-- <div class="col-6 col-sm-4">
              <div class="input-box">
                <label for="country">Country</label>
                <select class="form-select form-control" id="country" name="country">
                  <option selected="" disabled="" value="">Choose...</option>
                  <option>United States</option>
                  <option>India</option>
                  <option>America</option>
                  <option>South America</option>
                  <option>Dubai</option>
                  <option>Hong Kong</option>
                  <option>Indonesia</option>
                  <option>Pakistan</option>
                  <option>Saudi Arabia</option>
                  <option>China</option>
                </select>
              </div>
            </div> -->

            <div class="col-6 col-sm-4">
              <div class="input-box">
                <label for="city2">City</label>
                <input class="form-control" type="text" required="" name="city" id="address3">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="input-box">
                <label for="zip">Pin Code</label>
                <input maxlength="4" class="form-control" type="number" required="" name="pinCode" id="zip">
              </div>
            </div>
            <div class="col-12">
              <div class="input-box">
                <label for="address3">Land Mark</label>
                <input class="form-control" type="text" required="" name="landmark" id="address3">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-box">
              <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">Close</button>
              <button type="submit" class="btn btn-solid line-none rounded-pill">Add Address <i class="arrow"></i></button>
            </div>
          </div>
        </form>
      </div>

      
    </div>
  </div>
</div>
<!-- Add New Address Modal End -->

<!-- Edit Address Modal Start -->
<!-- <div class="modal fade addnew-address" id="" tabindex="-1" aria-labelledby="edditAddressLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edditAddressLabel">Edit Address</h5>
        <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
      </div>

      <div class="modal-body full-grid-mobile">
        <form action="/editAddress" class="custom-form form-pill" method="post">
          <div class="row g-3 g-md-4">
            <div class="col-12">
              <div class="input-box">
                <label for="name">Full Name</label>
                <input class="form-control" type="text" required="" name="name" id="name" value="">
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="email2">Email</label>
                <input class="form-control" type="email" required="" name="email" id="email2">
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="mobile2">Mobile No:</label>
                <input maxlength="9" class="form-control" type="number" required="" name="mobile2" id="mobile2">
              </div>
            </div>

            <div class="col-12">
              <div class="input-box">
                <label for="address3">House Name</label>
                <input class="form-control" type="text"  name="housename">
              </div>
            </div> -->

            <!-- <div class="col-12">
              <div class="input-box">
                <label for="address4">Address2</label>
                <input class="form-control" type="text" required="" name="address4" id="address4">
              </div>
            </div> -->

            <!-- <div class="col-6 col-sm-4">
              <div class="input-box">
                <label for="country">Country</label>
                <select class="form-select form-control" id="country" name="country">
                  <option selected="" disabled="" value="">Choose...</option>
                  <option>United States</option>
                  <option>India</option>
                  <option>America</option>
                  <option>South America</option>
                  <option>Dubai</option>
                  <option>Hong Kong</option>
                  <option>Indonesia</option>
                  <option>Pakistan</option>
                  <option>Saudi Arabia</option>
                  <option>China</option>
                </select>
              </div>
            </div> -->

            <!-- <div class="col-6 col-sm-4">
              <div class="input-box">
                <label for="city2">City</label>
                <input class="form-control" type="text" required="" name="city" id="address3">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="input-box">
                <label for="zip">Pin Code</label>
                <input maxlength="4" class="form-control" type="number" required="" name="pinCode" id="zip">
              </div>
            </div>
            <div class="col-12">
              <div class="input-box">
                <label for="address3">Land Mark</label>
                <input class="form-control" type="text" required="" name="landmark" id="address3">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-box">
              <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">Close</button>
              <button type="submit" class="btn btn-solid line-none rounded-pill">Add Address <i class="arrow"></i></button>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="btn-box">
          <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">Close</button>
          <button type="button" class="btn btn-solid line-none rounded-pill">Edit Address <i class="arrow"></i></button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Edit Address Modal End -->

<!-- Action Conformation Start -->
<div class="modal fade action-conform" id="conformation" tabindex="-1" aria-labelledby="conformationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="conformationLabel">Are You Sure ?</h5>
        <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
      </div>
      <div class="modal-body">
        <p class="font-md">The permission for the use/group, preview is inherited from the object, object will create a new permission for this object</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-solid btn-sm line-none" data-bs-dismiss="modal">Remove <i class="arrow"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- Action Conformation End -->

<!-- Add Card Modal Start -->
<div class="modal fade addnewcard" id="addNewcard" tabindex="-1" aria-labelledby="addNewcard" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewAddressLabel2">Add New Card</h5>
        <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
      </div>

      <div class="modal-body">
        <form action="javascript:void(0)" class="custom-form form-pill">
          <div class="row g-3 g-md-4">
            <div class="col-12">
              <div class="input-box">
                <label for="name3">Card Holder Name</label>
                <input class="form-control" type="text" required="" name="name3" id="name3">
              </div>
            </div>

            <div class="col-12">
              <div class="input-box">
                <label for="card-number2">Card Number</label>
                <input maxlength="16" class="form-control" type="number" required="" name="card-number2" id="card-number2">
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="ex-date">Expiry Date</label>
                <div class="icon-input">
                  <input class="form-control" type="text" required="" name="ex-date" id="ex-date">
                  <i data-feather="calendar"></i>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="cv">CV</label>
                <input maxlength="3" class="form-control" type="number" required="" name="cv" id="cv">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="btn-box">
          <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">Close</button>
          <button type="button" class="btn btn-solid line-none rounded-pill" data-bs-dismiss="modal" aria-label="Close">Add Card <i class="arrow"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Card Modal End -->

<!-- Edit Card Modal Start -->
<div class="modal fade addnewcard" id="editCard" tabindex="-1" aria-labelledby="editCard" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewAddressLabel3">Edit Card</h5>
        <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
      </div>

      <div class="modal-body">
        <form action="javascript:void(0)" class="custom-form form-pill">
          <div class="row g-3 g-md-4">
            <div class="col-12">
              <div class="input-box">
                <label for="name4">Card Holder Name</label>
                <input value="Josephin water" class="form-control" type="text" required="" name="name4" id="name4">
              </div>
            </div>

            <div class="col-12">
              <div class="input-box">
                <label for="card-number">Card Number</label>
                <input value="6458502535450851" class="form-control" type="number" required="" name="card-number" id="card-number">
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <label for="ex-date2">Expiry Date</label>
                <div class="icon-input">
                  <input value="05/30" class="form-control" type="text" required="" name="ex-date2" id="ex-date2">
                  <i data-feather="calendar"></i>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-box">
                <label for="cv2">CV</label>
                <input value="456" class="form-control" type="number" required="" name="cv2" id="cv2">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="btn-box">
          <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">Close</button>
          <button type="button" class="btn btn-solid line-none rounded-pill" data-bs-dismiss="modal" aria-label="Close">Edit Card <i class="arrow"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Card Modal End -->

<!-- Tap To Top Button Start -->
<div class="tap-to-top-box hide">
  <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
</div>
<!-- Tap To Top Button End -->

<!-- Bootstrap Js -->
<script src="/userAssets/js/bootstrap/bootstrap.bundle.min.js"></script>

<!-- Feather Icon -->
<script src="/userAssets/js/feather/feather.min.js"></script>

<!-- Header Sticky js  -->
<script src="/userAssets/js/sticky-header.js"></script>

<!-- User Dashboard Tab Js -->
<script src="/userAssets/js/user-dashboard-tab.js"></script>

<!-- Script Js -->
<script src="/userAssets/js/script.js"></script>

<script src="/userAssets/js/swiper-slider/swiper-bundle.min.js"></script>
<script src="/userAssets/js/swiper-slider/swiper-custom.min.js"></script>
<script src="/userAssets/js/timer.js"></script>

<!-- Active Class js -->
<script src="/userAssets/js/active-class.js"></script>

<!-- Script Js -->
<script src="/userAssets/js/script.js"></script>
<!-- Theme Settings Js -->
<!-- <script src="/userAssets/js/theme-setting.js"></script> -->
</body>
<!-- Body End -->
</html>
<!-- Html End -->
