<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="oslo">
    <meta name="keywords" content="oslo">
    <meta name="author" content="oslo">
    <link rel="icon" href="/userAssets/images/favicon/favicon(2).png" type="image/x-icon">
    <link rel="shortcut icon" href="/userAssets/images/favicon/favicon(2).png" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="/userAssets/images/favicon/favicon(2).png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/userAssets/images/favicon/favicon(2).png">
    <meta name="theme-color" content="#0f8fac">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Oslo">
    <meta name="msapplication-TileImage" content="/userAssets/images/favicon/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KeVoC | User Dashboard</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../../css2-2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../../css2-5?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../../css2-4?family=Leckerli+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/userAssets/css/vendors/swiper-bundle.min.css">

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="/userAssets/css/vendors/bootstrap.css">

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="/userAssets/css/style.css">

     <!-- Ajax -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <link rel="stylesheet" href="/userAssets/css/plugins/nouislider/nouislider.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
     
  <!-- Head End -->

  <!-- Body Start -->
  <body>
   

    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general overlay-common"></a>
    <!-- Header Start -->
    <header class="header-common">
      <!-- Top Header -->
      <div class="top-header">
        <p class="marquee"><span></span></p>
      </div>
      <div class="container-lg">
        <div class="nav-wrap">

  <!-- Razor pay -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <!-- swal -->
  <link rel="stylesheet" href="path-to/sweetalert2.css">
<script src="path-to/sweetalert2.js"></script>
<script src="your-script.js"></script>
 
<script src="path-to/jquery.js"></script>

  