<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="oslo">
    <meta name="keywords" content="oslo">
    <meta name="author" content="oslo">
    <!-- <link rel="icon" href="/userAssets/images/favicon/favicon.png" type="image/x-icon"> -->
    <link rel="icon" href="/userAssets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/userAssets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="/userAssets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/userAssets/images/favicon/favicon.png">
    <meta name="theme-color" content="#0f8fac">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Oslo">
    <meta name="msapplication-TileImage" content="/userAssets/images/favicon/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KeVoC | Home</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="/userAssets/css/vendors/css2-2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="/userAssets/css/vendors/css2-5?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="/userAssets/css/vendors/css2-4?family=Leckerli+One&display=swap" rel="stylesheet">

    <!-- Bootstrap Css -->
  
    <link id="rtl-link" rel="stylesheet" type="text/css" href="/userAssets/css/vendors/bootstrap.css">
    

    <!-- Wow Animation Css -->
    <link rel="stylesheet" type="text/css" href="/userAssets/css/vendors/wow-animate.css">

    <!-- Swiper Slider Css -->
    <link rel="stylesheet" type="text/css" href="/userAssets/css/vendors/swiper-bundle.min.css">

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="/userAssets/css/style.css">
  </head>
  <!-- Head End -->

  