        <!-- Navigation Start -->
        <nav class="navigation">
          <div class="nav-section">
            <div class="header-section">
              <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-controls="primaryMenu">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/home" class="logo-link">
                  <!-- <img class="logo logo-dark" src="/userAssets/images/logos/logo.png" >
                  <img class="logo logo-light" src="/userAssets/images/logos/logo-w.png" > -->
                </a>
                <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                  <div class="offcanvas-header navbar-shadow">
                    <h5 class="mt-1 mb-0">Menu</h5>
                    <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>

                  <div class="offcanvas-body ">
                    <!-- Menu-->
                    <ul class="navbar-nav">
                      <!-- Home -->
                      <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle" href="/">Home</a>
                      </li>

                      <!-- Shop -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/shop" >Shop</a>
                        
                      </li>

                      <!-- Product -->
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navigation End -->

        <!-- Menu Right Start  -->
        <div class="menu-right">
          <div class="select-menu">
            <div class="dropdown select-dropdown">
              <button id="unitSelected"><span>USD</span> <i data-feather="chevron-down"></i></button>
              <ul class="onhover-show-div">
                <li class="unit">INR</li>
              </ul>
            </div>
            <div class="dropdown select-dropdown" id="translate">
              <button id="languageSelected"><span>English</span> <i data-feather="chevron-down"></i></button>
              <ul class="onhover-show-div">
                <li class="lang">English</li>
              </ul>
            </div>
          </div>

          <!-- Icon Menu Start -->
          <ul class="icon-menu">
            <li>
              <button class="search-button"><i data-feather="search"></i></button>
              <!-- Search Input Start -->
              <div class="search-full">
                <div class="input-group">
                  <span class="input-group-text">
                    <i data-feather="search"></i>
                  </span>
                  <input type="text" class="form-control search-type" placeholder="Search here..">
                  <span class="input-group-text close-search">
                    <i data-feather="x"></i>
                  </span>
                </div>

                <!-- Suggestion Start -->
                <div class="search-suggestion">
                  <ul>
                    <li>
                      <div class="product-cart media">
                        <img src="/userAssets/images/fashion/product/front/4.jpg" class="img-fluid blur-up lazyload" alt="">
                        <div class="media-body">
                          <a href="javascript:void(0)">
                            <h6>Women’s long sleeve Jacket</h6>
                          </a>
                          <ul class="rating p-0 mb">
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i data-feather="star"></i>
                            </li>
                          </ul>
                          <p class="mb-0 mt-1">$280.00</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="product-cart media">
                        <img src="/userAssets/images/fashion/product/front/5.jpg" class="img-fluid blur-up lazyload" alt="">
                        <div class="media-body">
                          <a href="javascript:void(0)">
                            <h6>Shirt short mini dresses</h6>
                          </a>
                          <ul class="rating p-0">
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i data-feather="star"></i>
                            </li>
                          </ul>
                          <p class="mb-0 mt-1">$35.00</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- Suggestion Start -->
              </div>
              <!-- Search Input End -->
            </li>

            <li class="user">
              <div class="dropdown user-dropdown">
                <a href="javascript:void(0)"><i data-feather="user"></i></a>
                <ul class="onhover-show-div">
                  <li><a href="/login">Login</a></li>
                  <li><a href="/registration">Register</a></li>
                  <li><a href="/profile">Your Profile</a></li>
                  <li><a href="/home">Logout </a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown whislist-dropdown">
                <a href="javascript:void(0)"><i data-feather="heart"></i> <span class="notification-label">0</span></a>
                <div class="onhover-show-div">
                  <a href="wishlist.html"> <img src="/userAssets/icons/svg/box.svg" class="img-fluid" alt="box"> </a>
                  <div class="content">
                    <a href="wishlist.html">
                      <h6>Your wishlist empty !!</h6>
                      <p>explore more and shortlist items.</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>

            <!-- Cart Menu Start -->
            <li>
              <div class="dropdown shopingbag">
                <a href="/cart" class="cart-button"><i data-feather="shopping-bag"></i>
                <a href="javascript:void(0)" class="overlay-cart overlay-common"></a>
                
              </div>
            </li>
            <!-- Cart Menu End -->
          </ul>
          <!-- Icon Menu End -->
        </div>
        <!-- Menu Right End  -->
      </div>
    </div>
  </header>
  <!-- Header End -->
