        <!-- Navigation Start -->
        <nav class="navigation">
          <div class="nav-section">
            <div class="header-section">
              <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-controls="primaryMenu">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                  
                  <div class="container">
                    <div class="offcanvas-body">
                        <!-- Menu -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <div class="container-fluid">
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarNav">
                                  <ul class="navbar-nav flex-row">
                                      <li class="nav-item">
                                          <a class="nav-link" href="/">Home</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="/shop">Shop</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </nav>
                    </div>
                </div>
            
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navigation End -->

        <!-- Menu Right Start  -->
        <div class="menu-right">
          

          <!-- Icon Menu Start -->
          <ul class="icon-menu">
            <li>
              <button class="search-button"><i data-feather="search"></i></button>
              <!-- Search Input Start -->
              <div class="search-full">
                
              
                <!-- Suggestion Start -->
                <div class="search-suggestion">
                  <ul>
                    <li>
                      <div class="product-cart media">
                        <img src="/userAssets/images/fashion/product/front/4.jpg" class="img-fluid blur-up lazyload" alt="">
                        <div class="media-body">
                          <a href="javascript:void(0)">
                            <h6>Women’s long sleeve Jacket</h6>
                          </a>
                          <ul class="rating p-0 mb">
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i data-feather="star"></i>
                            </li>
                          </ul>
                          <p class="mb-0 mt-1">$280.00</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="product-cart media">
                        <img src="/userAssets/images/fashion/product/front/5.jpg" class="img-fluid blur-up lazyload" alt="">
                        <div class="media-body">
                          <a href="javascript:void(0)">
                            <h6>Shirt short mini dresses</h6>
                          </a>
                          <ul class="rating p-0">
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i class="fill" data-feather="star"></i>
                            </li>
                            <li>
                              <i data-feather="star"></i>
                            </li>
                          </ul>
                          <p class="mb-0 mt-1">$35.00</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- Suggestion Start -->
              </div>
              <!-- Search Input End -->
            </li>

            <li class="user">
              <div class="dropdown user-dropdown">
                <a href="javascript:void(0)"><i data-feather="user"></i></a>
                <ul class="onhover-show-div">
                  <li><a href="/login">Login</a></li>
                  <li><a href="/registration">Register</a></li>
                  <li><a href="/profile">Your Profile</a></li>
                  <li><a href="/logout">Logout </a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown whislist-dropdown">
                <a href="/wishlist"><i data-feather="heart"></i> <span class=""></span></a>
              </div>
            </li>

            <!-- Cart Menu Start -->
            <li>
             
              <div class="dropdown shopingbag">
                <a href="/cart" class="cart-button"><i data-feather="shopping-bag"></i>
                <a href="javascript:void(0)" class="overlay-cart overlay-common"></a>
                  
              </div>
            </li>
            <!-- Cart Menu End -->
          </ul>
          <!-- Icon Menu End -->
        </div>
        <!-- Menu Right End  -->
      </div>
    </div>
  </header>
  <!-- Header End -->

  <!-- <script>
    function plzlogin() {
        $.ajax({
            success: (response) => {
                swal.fire({
                    position: 'top',
                    title: '! Please Login To Your Account',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                        popup: 'my-swal-class',
                    },
                });
            }
        });
    }
</script> -->
